<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/community.css">
<script src="js/bootstrap.min.js" type="application/javascript"></script>
<head>
  <meta charset="UTF-8">
  <title>用户登录</title>
</head>
<body>
<form align="center" action="/web/login" method="post">

  <div>这是登录页面</div>
  <div>这是登录页面</div>
  <div>这是登录页面</div>

  <div>账号:<input name="username" id="username" type="text"/></div>
  <div>密码:<input name="password" id="" type="password"></div>
  <input type="submit" value="登录" name="btn_login" id="btn_login">
  <a href="/register">还没有账号？点击这里注册一个</a>
</form>
</body>
</html>
