<!DOCTYPE html>
<html html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/community.css">
<script src="js/bootstrap.min.js" type="application/javascript"></script>
<head>
  <meta charset="UTF-8">
  <title>注册页面</title>
</head>
<body>
<form align="center" action="/web/register" method="post">

  <div>这是注册页面</div>
  <div>这是注册页面</div>
  <div>这是注册页面</div>
  <div>账号:<input name="username" id="username" type="text"/></div>
  <div>密码:<input name="password" id="" type="password"></div>
  <input type="submit" value="注册" name="btn_regist" id="btn_regist">
  <a href="/">已经有账号，去登录</a>
</form>

</body>
</html>
